.root {
    -fx-background-color: #131313;
    -fx-padding: 25;
}

.title {
    -fx-text-fill: #FFF;
    -fx-font-size: 35px;
    -fx-font-weight: bold;
}

.start-button {
    -fx-background-color: #FCB53B;
    -fx-text-fill: #000;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 8 20 8 20;
    -fx-background-radius: 20;
    -fx-cursor: hand;
}

.start-button:hover {
    -fx-background-color: #FCB53B80;
}

.racetrack {
    -fx-background-color: #000;
    -fx-border-color: #999;
    -fx-border-width: 3;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.meta {
    -fx-fill: #FFF;
}

.classification-card {
    -fx-background-color: #111827;
    -fx-padding: 16;
    -fx-border-color: #999;
    -fx-border-width: 3;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.classification-title {
    -fx-text-fill: #e5e7eb;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.classification-positions {
    -fx-font-size: 16px;
    -fx-control-inner-background: #111827;
    -fx-text-fill: #e5e7eb;
}